{% extends 'base.html.twig' %}

{% block title %}Réservation de la {{ voiture.modele }} - {{ voiture.marque }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Réservation de la voiture</h2>
            <ul>
                <div class="row justify-content-center">
                    <div class="col-md-10 m-2">
                        <img src="{{ asset('images/' ~ voiture.image ~ '') }}" alt="Image de la voiture" class="img-fluid">
                    </div>
                </div>
                <li><strong>Modèle:</strong> {{ voiture.modele }}</li>
                <li><strong>Marque:</strong> {{ voiture.marque }}</li>
                <li><strong>Kilométrage:</strong> {{ voiture.kms }} km</li>
                <li><strong>Année:</strong> {{ voiture.annee }}</li>
                <li><strong>Carburant:</strong> {{ voiture.carburant }}</li>
                <li><strong>Prix journalier:</strong> {{ voiture.prixJournalier }} €</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mt-4">
            {{ form_start(formReservation) }}
            {{ form_end(formReservation) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
