{% extends 'base.html.twig' %}

{% block title %}{{ voiture.marque }} : {{ voiture.modele }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('images/' ~ voiture.image ~ '') }}" alt="Voiture" class="img-fluid">
            </div>
            <div class="col-md-6 mt-4 mt-md-0 d-flex flex-column justify-content-center">
                <h2>{{ voiture.modele }}</h2>
                <p>{{ voiture.marque }}</p>
                <p>{{ voiture.description }}</p>
                <ul>
                    <li><strong>Kilométrage:</strong> {{ voiture.kms }} km</li>
                    <li><strong>Année:</strong> {{ voiture.annee }}</li>
                    <li><strong>Disponibilité:</strong> {{ voiture.disponibilite ? 'Disponible' : 'Indisponible' }}</li>
                    <li><strong>Carburant:</strong> {{ voiture.carburant }}</li>
                    <li><strong>Prix journalier:</strong> {{ voiture.prixJournalier }} €</li>
                </ul>
                <div class="text-center mt-3">
                    {% if not app.user %}
                        <p><a href="{{ path('app_login') }}">Connectez vous pour réserver</a></p>
                        <button class="btn btn-primary {% if not voiture.disponibilite %}disabled{% endif %}">{{ voiture.disponibilite ? "Réservez" : "Voiture indisponible" }}</button>
                    {% else %}
                        <a href="{{ voiture.disponibilite ? path('app_reservation', { 'id': voiture.id }) : "#" }}" class="btn btn-primary {% if not voiture.disponibilite %}disabled{% endif %}">{{ voiture.disponibilite ? "Réservez" : "Voiture indisponible" }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center mt-4">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ form_start(commentaireForm) }}
                    {{ form_end(commentaireForm) }}
                {% endif %}
                </div>
            </div>
        </div>
        {% if commentaires %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center mt-4">
                        <div class="container">
                            <h1>Commentaires :</h1>
                            <hr>
                        </div>
                        {% for commentaire in commentaires %}
                            <div class="comment">
                                <h4>{{ commentaire.user.prenom }} .{{ commentaire.user.nom|slice(0, 1)|upper }} le {{ commentaire.createdAt|date("d/m/Y") }} à {{ commentaire.createdAt|date("H:i") }}</h4>
                                <p>
                                    Note : 
                                    {% for i in 1..5 %}
                                        {% if i <= commentaire.note %}
                                            <span class="star">&#9733;</span>
                                        {% else %}
                                            <span class="star">&#9734;</span>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p>{{ commentaire.contenu }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
